<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.apply">

	<insert id="insert" parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		INSERT INTO TC_COMPANY_INFO 
			(ID, CERTID, ACCEPT_ID,BANK_CODE, CORP_NAME, BUSINESSSCOPE, REGCAPITAL, REGCAPITALCOIN, CREATE_USER, CREATE_TIME, STATUS,HISTORYINFOID,ENTITYTYPEID, NAMESEG3,APP_DATE,NAME_DISTRICT,NAMECITY,LOCALDISTRICT,ENTTRA,INDUSTRYCO,ORGFORM,MZZH,MZZHCODE)
		VALUES
			(#{id}, #{certid}, #{acceptId},#{bankCode}, #{corpName}, #{businessscope}, #{regcapital}, #{regcapitalcoin}, #{createUser}, NOW(), '1',#{historyinfoid},#{entitytypeid},#{nameseg3},#{appDate},#{nameDistrict},#{nameCity},#{localDistrict},#{entTra},#{industryCo},#{orgForm},#{mzzh},#{mzzhCode})
	</insert>

	<update id="updateCompany" parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		UPDATE  TC_COMPANY_INFO SET
			 CORP_NAME = #{corpName},
			 ENTITYTYPEID = #{entitytypeid},
			 NAMESEG3 = #{nameseg3},
			 APP_DATE = #{appDate},
			 NAME_DISTRICT = #{nameDistrict},
			 NAMECITY = #{nameCity},
			 LOCALDISTRICT = #{localDistrict},
			 ENTTRA = #{entTra},
			 INDUSTRYCO = #{industryCo},
			 ORGFORM = #{orgForm},
			 BANK_CODE = #{bankCode},
			 TOWN = #{town},
			 TOWN_CODE = #{townCode},
			 JYFW = #{jyfw},
			 JYFS = #{jyfs},
			 CYNAME = #{cyname},
			 CITY = #{city},
			 PROVINCE = #{province},
			 AREA = #{area},
			 MZZH = #{mzzh},
			 MZZHCODE = #{mzzhCode}
		WHERE ID = #{id}
	</update>
	
	<select id="selectById" parameterType="com.ctd.bank.business.model.ApplyInfoModel" resultType="com.ctd.bank.business.model.ApplyInfoModel">
		SELECT * FROM TC_COMPANY_INFO WHERE ID = #{id}
	</select>

	<select id="selectByCreateUser" parameterType="map" resultType="map">
		SELECT * FROM TC_COMPANY_INFO WHERE CORP_NAME = #{corpName} and create_user = #{createUser}
		<if test='id != null and id != ""'>
			and id &lt;&gt; #{id}
		</if>
	</select>

	<select id="selectIsExits" parameterType="com.ctd.bank.business.model.ApplyInfoModel" resultType="com.ctd.bank.business.model.ApplyInfoModel">
		SELECT * FROM TC_COMPANY_INFO WHERE ACCEPT_ID = #{acceptId}
	</select>
	
	<update id="saveStepTwo"  parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		UPDATE TC_COMPANY_INFO SET REGCAPITAL = #{regcapital}  WHERE ID = #{id}
	</update>

	<update id="updateRegcapital"  parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		UPDATE TC_COMPANY_INFO SET REGCAPITAL = #{regcapital} WHERE ID = #{id}
	</update>

	<update id="saveStepThree"  parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		UPDATE TC_COMPANY_INFO SET  
			   COPYNUM      =  #{copynum},
			   CONTRACTNO      =  #{contractNo},
			   ISJI      =  #{isji},
			   BUSINESSSCOPE =  #{businessscope},
			   POSTCODE =  #{postcode},
			   JQUSID  =  #{jqUSID},
			   JQCORPNAME  =  #{jqCorpName},
			   EMPLOYEENUM = #{employeeNum}
		WHERE ID = #{id}
	</update>
	
	<update id="saveStepFour"  parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		UPDATE TC_COMPANY_INFO SET  
			   AREA          =  #{area},
			   VILLAGE       =  #{village}, 
			   STREET     	 =  #{street}, 
			   PROPERTYOWNE   =  #{propertyowne},
			   OPERATIONAREA =  #{operationarea},  
			   BUILDINGNO    =  #{buildingno}, 
			   BUILDINGNAME  =  #{buildingname}, 
			   DOMICILEUSE	 =  #{domicileuse}, 
			   OPERADDR      =  #{operaddr},
			   PERMISSIONTYPE =  #{permissiontype}, 
			   INFORMATIONNOTE =  #{informationnote},
			   FAXNO = #{faxno},
			   ISSELECTYEAR  =  #{isselectyear},
			   WCSYZM = #{wcsyzm},
			   ISFQSZM = #{isfqszm},
			   WCCJR = #{wccjr},
			   DANWEI = #{danwei},
			   FWQSZM = #{fwqszm},
			   CZF = #{czf},
			   CHZF = #{chzf},
			   LXDH = #{lxdh},
			   COMMUNITY = #{community}
		WHERE ID = #{id}
	</update>
	
	<update id="saveStep" parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		UPDATE TC_COMPANY_INFO SET
				   STEP = #{step}
			WHERE ID = #{id}
	</update>
	
	<update id="updateLegalperson" parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		UPDATE TC_COMPANY_INFO SET  
				   LEGALPERSON =  #{legalperson}
			WHERE ID = #{id}
	</update>

	<select id="getHistoryApply"  parameterType="java.lang.String" resultType="com.ctd.bank.business.model.ApplyInfoModel">
		SELECT * FROM TC_COMPANY_INFO WHERE BANK_CODE = #{bankCode} and CREATE_USER = #{createUser} ORDER BY CREATE_TIME DESC
	</select>
	
	<select id="getHistoryApply_1"  parameterType="java.lang.String" resultType="com.ctd.bank.business.model.ApplyInfoModel">
		SELECT * FROM TC_COMPANY_INFO WHERE BANK_CODE = #{bankCode} and CREATE_USER = #{createUser} and step in ('1020','1030','1040','1050','1060','1070','1100','1110','1120') ORDER BY CREATE_TIME DESC
	</select>
	
	<select id="getHistoryApply_2"  parameterType="java.lang.String" resultType="com.ctd.bank.business.model.ApplyInfoModel">
		SELECT * FROM TC_COMPANY_INFO WHERE BANK_CODE = #{bankCode} and CREATE_USER = #{createUser} and step in ('1080','1130','1140') ORDER BY CREATE_TIME DESC
	</select>
	
	<select id="getHistoryApply_3"  parameterType="java.lang.String" resultType="com.ctd.bank.business.model.ApplyInfoModel">
		SELECT * FROM TC_COMPANY_INFO WHERE BANK_CODE = #{bankCode} and CREATE_USER = #{createUser} and step in ('1090') ORDER BY CREATE_TIME DESC
	</select>

	<!-- 我的业务删除 -->
	<delete id="delCompanyById"  parameterType="java.lang.String" >
		DELETE FROM TC_COMPANY_INFO WHERE ID = #{_parameter}
	</delete>
	<!-- 保存 统一社会信用代码-->
	<update id="saveUniSCID" parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		update tc_company_info set usid =#{USID},step=#{step} WHERE ID = #{id}
	</update>
	<!-- 报春写卡appid-->
	<update id="saveAppId" parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		update tc_company_info set app_id=#{appId} WHERE ID = #{id}
	</update>
	<!-- 保存正本编号-->
	<update id="savezBarCode" parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		UPDATE TC_COMPANY_INFO SET zbarcode = #{zbarCode} WHERE ID = #{id}
	</update>
	<!-- 保存副本编号 -->
	<update id="savefBarCode" parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		UPDATE TC_COMPANY_INFO SET fbarcode = #{fbarCode}, zbarcode = #{zbarCode}, STEP =  #{step}, devid = #{devId} WHERE ID = #{id}
	</update>

	<!-- 保存银行卡号 -->
	<update id="saveBankCard" parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		update tc_company_info  set bank_card =#{bankCard}  WHERE ID = #{id}
	</update>

	<!--保存银行账号-->
	<update id="saveBankAccountNo" parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		UPDATE TC_COMPANY_INFO SET  
				   BANK_ACCOUNT_NO =  #{bankAccountNo},
				    STEP =  #{step}		   
			WHERE ID = #{id}
	</update>


	<update id="cleanZs"  parameterType="com.ctd.bank.business.model.ApplyInfoModel">
        UPDATE TC_COMPANY_INFO SET  
               VILLAGE       =  '', 
               STREET        =  '', 
               PROPERTYOWNE   =  '',
               OPERATIONAREA =  '',  
               BUILDINGNO    =  '', 
               BUILDINGNAME  =  '', 
               DOMICILEUSE   =  '', 
               PERMISSIONTYPE =  '', 
               INFORMATIONNOTE =  '',
               FAXNO = ''
        WHERE ID = #{id}
    </update>

	<update id="updateDomestic"  parameterType="com.ctd.bank.business.model.ApplyInfoModel">
		UPDATE TC_COMPANY_INFO SET
			   ACCEPT_ID = #{acceptId},
			   SUBMIT_TIME = now()
		WHERE ID = #{id}
	</update>

	<select id="queryByDutyAndFlowNo" parameterType="com.ctd.bank.business.model.PeopleDutyModel" resultType="com.ctd.bank.business.model.PeopleDutyModel">
		SELECT
		T.*, TP.*
		FROM
		TC_DUTY T LEFT JOIN TC_PERSON_POOL TP ON T.PERSON_ID = TP.ID
		WHERE 1 = 1
		<if test="id != null and id != ''">
			AND t.id = #{id}
		</if>
		<if test="dutyTypeName != null and dutyTypeName != ''">
			AND t.duty_type_name = #{dutyTypeName}
		</if>
		<if test="dutyName != null and dutyName != ''">
			AND t.duty_name = #{dutyName}
		</if>
		<if test="duty != null and duty != ''">
			AND t.duty = #{duty}
		</if>
		<if test="dutyType != null and dutyType != ''">
			AND t.duty_type = #{dutyType}
		</if>
		<if test="year != null and year != ''">
			AND t.year = #{year}
		</if>
		<if test="appointedType != null and appointedType != ''">
			AND t.appointed_type = #{appointedType}
		</if>
		<if test="dutySource != null and dutySource != ''">
			AND t.duty_source = #{dutySource}
		</if>
		<if test="isCorporation != null and isCorporation != ''">
			AND t.is_corporation = #{isCorporation}
		</if>
		<if test="startDate != null and startDate != ''">
			AND t.start_date = #{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
			AND t.end_date = #{endDate}
		</if>
		<if test="personId != null and personId != ''">
			AND t.person_id = #{personId}
		</if>
		<if test="bizFlowNo != null and bizFlowNo != ''">
			AND t.biz_flow_no = #{bizFlowNo}
		</if>
		<if test="financingInfo  != null and financingInfo  != ''">
			AND t.financing_info  = #{financingInfo}
		</if>
		<if test="idcardType != null and idcardType != ''">
			AND tp.idcard_type = #{idcardType}
		</if>
		<if test="idcardNo != null and idcardNo != ''">
			AND tp.idcard_no = #{idcardNo}
		</if>
		<if test="name != null and name != ''">
			AND tp.name = #{name}
		</if>
		<if test="nation != null and nation != ''">
			AND tp.nation = #{nation}
		</if>
		<if test="sex != null and sex != ''">
			AND tp.sex = #{sex}
		</if>
		<if test="birthDate != null and birthDate != ''">
			AND tp.birth_date = #{birthDate}
		</if>
		<if test="address != null and address != ''">
			AND tp.address = #{address}
		</if>
		<if test="phone != null and phone != ''">
			AND tp.phone = #{phone}
		</if>
		<if test="photo != null and photo != ''">
			AND tp.photo = #{photo}
		</if>
		<if test="operIdCardNo != null and operIdCardNo != ''">
			AND tp.oper_id_card_no = #{operIdCardNo}
		</if>
		<if test="state != null and state != ''">
			AND tp.state = #{state}
		</if><if test="email != null and email != ''">
		AND tp.email = #{email}
	</if>
	</select>
</mapper>